@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-spinner {
	border: 6px solid #f3f3f3;
	border-top: 6px solid #3498db;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spinning 1s linear infinite;
}
@keyframes spinning {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
